.container {
  padding: 20px 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  > div {
    height: 250px;
    /*background-color: green;*/
    border-radius: 20px;

    /*grid-column: span 2;*/
    &:nth-child(3),
    &:nth-child(4) {
      grid-column: span 2;
    }
  }
}
